@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('./fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-light-webfont.woff2') format('woff2'),
         url('./fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('./fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('./fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('./fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'gora';
    src: url('./fonts/gora-free-webfont.woff2') format('woff2'),
         url('./fonts/gora-free-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-light-webfont.woff2') format('woff2'),
         url('./fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}





body {
    height: 100%;
    margin:0;
    font-family: "open_sans", Helvetica, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

.wrapper {
    min-width: 1100px;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 77px;
    background: #131415;
    color: #ffffff;

}

.container-header{
    width: 1060px;
    margin: 0 auto;
   
   
}

.logo-image {
    font-family: 'gora';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
   
    letter-spacing: 0.1em;
    color: #e98c13;

}
.logo--header{
    float: left;
    max-width: 170px;
    margin-top: 30px;
    margin-left: 18px;
}

.menu {
    /*margin-left: auto;
    margin-right: auto;*/
    width: 360px;
    display: inline-block;
   
    margin-left: 200px;
    margin-top: 27px;
}

ul.menu__list{
    margin: 0;
    padding: 0;

}

li.menu__item{
    display: inline-block;
    vertical-align: middle;
    
    width: 25%;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 12px;
    
    letter-spacing: 1.2px;
    
    
}
.menu__link {
    display: inline-block;
    text-decoration: none; 
    color:inherit;
}

.menu__icon{
    display: inline-block;
    background: center center no-repeat;
    width: 19px;
    height: 19px;
   
}

.menu__icon--main {
    background-image: url(./img/main_icon.png)
}

.menu__icon--reviews {
    background-image: url(./img/feed_icon.png)
}

.menu__icon--service {
    background-image: url(./img/service_icon.png)
}

.menu__link:not(.menu__link--active):hover {
    color: #f89513;
}

.contacts {
    display: block;
    float:right;
    margin-right: 20px;
    margin-top:20px; 
    text-align: right;
}
.contacts__phone {
    display: block;
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
    font-size: 21px;
    font-style: normal;
}
.contacts__schedule {
    background: none;
    border: none;
    font-size: 14px;
    color: rgba(248, 149, 19, 0.8);
    font-weight: bold;
    text-decoration: underline;
    font-family: inherit;
}
.contacts__schedule:hover {
    color: #ffffff;
  }

.container-main{
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;

   
}

.main-image{
    margin-left: auto;
    margin-right: auto;
    margin-top: 79px;
    margin-bottom: 58px;
    width: 740px;
    height: 486px;
    background-image: url(./img/Image.png);
}



.features {
    background:#131415;
    height:570px;  
    color: #ffffff;
}

.container--features {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    /*max-height:55px;*/
    text-align: center;
    /*margin-top: 65px;
    font-family: open-sans;*/
    font-weight: bold;
    font-style: normal;
    font-size: 49px;
    letter-spacing: 1.5px;
   color: #131415;
    margin-block-start: 0;
    margin-block-end: 0;
}

.title--white{
    color: #ffffff;
    padding-top: 47px;
    margin-bottom: 48px;
}

ul.features__list {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-inline-start: 0;
    
}

li.features__list-item {
    display: inline-block;
    line-height: 1.9em;
    text-align: center;
    font-size: 18px;
    width: 30%;
    vertical-align: top;
    
}

.features__list-image {
    width: 68px;
    height: 68px;
    background: #f89513 center center no-repeat;
    border-radius: 50%;
    margin-left: 38%;
  }

.features__list-image--unique {
    background-image: url(./img/flower.png);
  }
  
.features__list-image--premium {
    background-image: url(./img/mark-as-favorite-star2.png);
  }
  
.features__list-image--coach {
    background-image: url(./img/painter-palette.png);
  }

.features__list-heading {
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-top: 30px;
  }

 ul.features__list-bullets {
    list-style-type: disc;
    text-align: left;
    padding-inline-start: 0px;
    margin-left: 50px;
    font-weight: 400;
 }

 ul.features__list-bullets li {
    padding-left: 20px;
 }
  


.container--news {
    width: 1060px;
    margin-left:auto;
    margin-right:auto;
}
.container--news > .title {
    margin-top: 52px;
    margin-bottom: 60px;
}

ul.news__list {
    display: inline-block;
    width: 880px;
    vertical-align: top;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

li.news__item:not(:last-child) {
    border-bottom: 2px solid #f5f5f5;
  }

li.news__item {
    padding-bottom: 23px;
  }

  li.news__item:not(:first-child) {
    padding-top: 23px;
  }

.news__image-pic {
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    width: 167px;
    height: 167px;
}

.news__description {
    display: inline-block;
    width: 650px;
    margin-left: 20px;
    font-family: "roboto", Helvetica, sans-serif;
    font-weight: 400;
  }

  .news__date {
    font-size: 14px;
    color: #656464;
    font-weight: 300;
  }

  .news__heading {
    font-size: 18px;
    color: #221f1f;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 10px;
    line-height: 21px;
  }
  
.news__text {
    font-size: 18px;
    color: #221f1f;
    font-style: normal;
    line-height: 30px;
    margin-top: 2px;
  }

  
  /* Sidebar*/

.sidebar {
    display: inline-block;
    width: 160px;
    vertical-align: top;
    margin-left: 15px;
    text-align: left;
  }
.sidebar__heading {
    text-transform: uppercase;
    font-family: "open_sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #221f1f;
    line-height: 21px;
    letter-spacing: 2.4px;
  }

.tsidebar__month {
    display: block;
    color: #656464;
  }

ul.sidebar__list {
    list-style-type: none;
    padding-inline-start: 0;
  }

.sidebar__image-pic {
    width: 160px;
    opacity: .8;
    margin-top: 20px;
  }


/* Pagination */

.pagination {
    width: 380px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }

.pagination__display,
.pagination__controlls,
li.pagination__item {
  display: inline-block;
  vertical-align:middle;
} 



.pagination__display {
    font-family: "roboto", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color:  #656464;

}

.pagination__controlls {
    max-height: 25px;
    
    font-family: "roboto", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: Bold;
    color: #221f1f;
}
.pagination__prev-link{
    float: left;
    width: 6px;
    height: 10px;   
 
    background: url(./img/prev.png) center center no-repeat;
    padding-top: 12.5px;
    margin-left: 23px;
    
    }

.pagination__prev-link:after {
        clear: both;
      }

ul.pagination__list {
    float:left;
    min-width: 175px;
    list-style: none;
    padding-inline-start: 0px;
    margin: 0 15px;
}
.pagination__link{
    color: #221f1f;
    text-decoration: inherit;
}

.pagination__item {
    width: 25px;
    height: 25px;
    text-align: center;
  }

.pagination__link:hover {
    color: #f89513;
  }

.pagination__item--active {
    background: #27273e;
    border-radius: 3px;
    
  }
.pagination__link--active {
    color: #ffffff;
  }

.pagination__next-link{
    float: left;
    width: 6px;
    height: 10px;   
    padding-top: 12.5px;
 
    background: url(./img/next.png) center center no-repeat;
}

.clearfix:before,
.clearfix:after {
content: "";
display: table;
}
.clearfix:after {
clear: both;
}

/* Footer */
.footer {
    width: 100%;
    height: 75px;
    background: #131415;
    color: #ffffff;

}

.container-footer {
    width: 1060px;
    margin: 50px auto 0px auto;
}

.production,
.logo--footer,
.social-media {
    display: inline-block;
    vertical-align:middle;
}

.production {
    font-weight: 300;
    font-size: 14px;
    width: 240px;
    padding-top: 15px;
  }

.production__text{
    margin: 0px;
}
  
 .production__link {
    font-weight: bold;
    text-decoration: inherit;
    color:inherit;
  }
  
 .production__link--underlined {
    text-decoration: underline;
  }

.logo--footer {
    width: 550px;
    text-align: center;
    margin-bottom: 5px; 
}

.social-media {
    width: 210px;
}
ul.social-media__list {
    padding-inline-start: 0px;
    margin: 10px 0 0 0;
}



ul.social-media__list li{
    display: inline-block;
}

.social-media__text {
    margin: 0px;
    font-size: 14px;
    padding-top:20px;
    font-weight: bold;
}

li.social-media__item {
    width: 20px;
    height: 20px;
    background-color: #d0d0d0;
    border-radius: 50%;  
    text-align: center;
    display: table-cell; vertical-align: middle;
  }

  li.social-media__item:not(:first-child) {
    margin-left: 10px;
  }

 .social-media__logo {
    text-align: center;
    }
  
li.social-media__item:hover {
    background-color: #f89513;
  }