@import url('layout/normalize.css');
@import url('layout/fonts.css');


  /* base.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: 'open_sans', sans-serif;
    height: 100%;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style-type: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
  }

  .wrapper {
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container {
    max-width: 1160px;
    margin: 0 auto;
  }
  
  .container--main {
    display: flex;
  }


  /* end of base.css */


  /*header*/
.header {
    width: 100%;
    /* height: 77px; */
    background: #131415;
    color: #ffffff;
}

.container--header{
    display: flex;
    /* flex-flow: row nowrap;
    justify-content: space-between; */
    align-items: center;
    height: 100%;
    padding: 19px 0;
}

.header__col {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
.header__col--right {
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* end of header */


/* logo */

.logo-image {
    font-family: 'gora';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
   text-decoration: none;
    letter-spacing: 0.1em;
    color: #e98c13;
}

/*end of logo*/

/* contacts */

.contacts {
    max-width: 180px;
    flex: 1 1 180px;
    display: flex;
    flex-flow: column nowrap;
    text-align: right;
}


.contacts__phone {    
    color: inherit;
    text-decoration: inherit;
    font-weight: bold;
    font-size: 21px;
    
    font-style: normal;
}
.contacts__schedule {
    background: none;
    border: none;
    font-size: 13px;
    color: rgba(248, 149, 19, 0.8);
    font-weight: bold;
    text-decoration: underline;
    text-align: inherit;
    /* font-family: inherit;
    text-align: inherit; */
}
.contacts__schedule:hover {
    color: #ffffff;
  }
/* end of contacts */

/* sidebar */
.sidebar {
    width: 24%;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
  }

/* end of sidebar */


/* menu */
.menu {
    width: 100%;
    /* flex: 1 1 360px;*/
    margin-top: 25px;
    
   
}

ul.menu__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

li.menu__item{
    max-width: 100%;
    /* flex: 1 1 100px; */ 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.2px;
    display: flex;
    /* align-items: center; */
    margin-bottom: 20px;
    /* margin-left: auto;
    margin-right: auto; */
}
.menu__link{
    /*display: inline-block;*/
    /* width:50%; */
    display: flex;
    align-items: center;
  
    text-decoration: none; 
    color:inherit;
}

.menu__title{
    width: 80px;
}

.menu__icon{
    /*display: inline-block;*/
    background: center center no-repeat;
    width: 19px;
    height: 19px;
    margin-right:15px; 
   
}


.menu__list--main  .menu__link--active{
    color: #f89513;
}

.menu__list--main .menu__icon--main {
    background-image: url(../img/main_icon_hover.png)
}

.menu__list--main .menu__icon--reviews {
    background-image: url(../img/feed_icon2.png)
}

.menu__list--main .menu__icon--services {
    background-image: url(../img/service_icon2.png)
}

.menu__list--main .menu__link--services:hover  .menu__icon--services {
    background-image: url(../img/service_icon_hover.png);
}

.menu__list--main .menu__link--services:hover .menu__title {
    color: #f89513;
}

.menu__list--main .menu__link--reviews:hover  .menu__icon--reviews {
    background-image: url(../img/reviews_icon_hover.png);
}

.menu__list--main .menu__link--reviews:hover .menu__title {
    color: #f89513;
}


.menu__list--services .menu__link--active{
    color: #f89513;
}
.menu__list--services .menu__icon--services {
    background-image: url(../img/service_icon_hover.png);
}


.menu__list--services .menu__icon--reviews {
    background-image: url(../img/feed_icon2.png)
}

.menu__list--services .menu__icon--main {
    background-image: url(../img/main_icon2.png)
}

.menu__list--services .menu__link--reviews:hover  .menu__icon--reviews {
    background-image: url(../img/reviews_icon_hover.png);
}

.menu__list--services .menu__link--reviews:hover .menu__title {
    color: #f89513;
}

.menu__list--services .menu__link--main:hover  .menu__icon--main {
    background-image: url(../img/main_icon_hover.png);
}

.menu__list--services .menu__link--main:hover .menu__title {
    color: #f89513;
}




.menu__list--reviews .menu__link--active{
    color: #f89513;
}
.menu__list--reviews .menu__icon--reviews {
    background-image: url(../img/reviews_icon_hover.png);
}


.menu__list--reviews .menu__icon--main {
    background-image: url(../img/main_icon2.png)
}

.menu__list--reviews .menu__icon--services {
    background-image: url(../img/service_icon2.png)
}


.menu__list--reviews .menu__link--main:hover  .menu__icon--main {
    background-image: url(../img/main_icon_hover.png);
}


.menu__list--reviews .menu__link--main:hover .menu__title {
    color: #f89513;
}

.menu__list--reviews .menu__link--services:hover  .menu__icon--services {
    background-image: url(../img/service_icon_hover.png);
}

.menu__list--reviews .menu__link--services:hover .menu__title {
    color: #f89513;
}
/* end of menu */

/* features */
.container--features {
    width:100%;
    border: 1px solid black;   
    
}

.title3 {
   
   
    line-height: 1.2em;
    /* text-align: center; */
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-top: 20px;
    text-align: center; 
}

.features__list-heading {
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin: 23px 0;
    text-align: center; 
  }


.features__list-description {
    width: 70%;
    margin: 0 auto;
    text-align: center;  
    line-height: 1.7em;
}

ul.features__list-bullets {
    width:60%;
    margin:18px 0px 18px 67px;  
}

ul.features__list-bullets li {
    list-style-type: disc;
    padding-left: 10px;
    margin-bottom: 15px;  
}
/* end of features */

/* top-news */
    
.top-news {
    /* display: inline-block; */
    width: 100%;
    vertical-align: top;
    margin: 0px auto;
    text-align: center;
  }
.top-news__heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #221f1f;
    line-height: 21px;
    letter-spacing: 2.4px;
  }

.top-news__month {
    display: block;
    color: #656464;
  }

/* ul.sidebar__list {

  } */

.top-news__image-pic {
    width: 160px;
    opacity: .8;
    margin-top: 20px;
  }

/* end of top-news */


/* social-media */

.social-media {
    width: 100%;    
    padding-left: 0px;
    text-align: center;
}

.social-media__text {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
   
    /* padding-left: 210px; */
}

ul.social-media__list {
    
    display: flex;
    justify-content: center;
    /* padding-inline-start: 0px; */
    margin: 10px 0 0 0;
    text-align: center;
}
li.social-media__item {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

li.social-media__item:hover {
    background-color: #f89513;
  }

.social-media__logo {
    /* padding-bottom: 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end of social-media */



/* page-content */
.page-content {
    width: 76%;;
}
/* end of page-content */


/* main-image */
.main-image{
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 79px;
    margin-bottom: 58px; */
    width: 740px;
    height: 486px;
    background-image: url(../img/Image.png);
}
/* end of main-image */

/* title */
.title {
    /*max-height:55px;*/
    /* text-align: center; */
    /*margin-top: 65px;
    font-family: open-sans;*/
    font-weight: bold;
    font-style: normal;
    font-size: 49px;
    letter-spacing: 1.5px;
   color: #131415;
}

.title--news {
   
    margin-top: 20px;
    margin-bottom: 35px;
}
/* end of title */


/* news */
.container--news {
    /* width: 1060px;
    margin-left:auto;
    margin-right:auto; */
    display: flex;
}


ul.news__list {
    /* display: flex; */
    width: 100%;
    vertical-align: top;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

li.news__item {
    display: flex;
    padding-bottom: 0;
    /* align-content: space-around; */
    /* min-width: 790px; */
  }

li.news__item:not(:last-child) {
    border-bottom: 2px solid #f5f5f5;
  }

li.news__item {
    padding-bottom: 0px;
    
  }

  li.news__item:not(:first-child) {
    padding-top: 30px;
  }

.news__image-pic {
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    width: 167px;
    height: 167px;
}

.news__description {
    display: inline-block;
    min-width: 700px;
    margin-left: 20px;
    font-family: "roboto", Helvetica, sans-serif;
    font-weight: 400;
  }

.news__date {
    font-size: 14px;
    color: #656464;
    font-weight: 300;
  }

.news__heading {
    font-size: 18px;
    color: #221f1f;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 10px;
    line-height: 20px;
  }
  
.news__text {
    font-size: 18px;
    color: #221f1f;
    font-style: normal;
    line-height: 30px;
    margin-top: 2px;
  }
/* end of news */

/* pagination */

.pagination {
    display: flex;
    /* justify-content: space-between; */
    /* align-content: center; */
    width: 40%;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    
  }

.pagination__display {
    max-width: 120px;;
    font-family: "roboto", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color:  #656464;
    padding-top: 3px;

}


ul.pagination__list {
    display: flex;
    min-width: 160px;
    align-items: center;
    margin: 0;
    padding: 0 0 5px 5px;
    font-size: 14px;   
}


.pagination__prev-link{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background-image: url('../img/prev.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;  
}

.pagination__link{
    color: #221f1f;
    text-decoration: inherit;
    font-family: 'open_sans';
    font-weight: bold;
}
    
.pagination__item {
    width: 25px;
    height: 23px;
    text-align: center;
    padding-top:2px;
}
    
.pagination__link:hover {
    color: #f89513;
}
    
.pagination__item--active {
    background: #27273e;    
    border-radius: 3px;
        
}

.pagination__link--active {
        color: #ffffff;
}

.pagination__next-link{
    width: 25px;
    height: 25px;   
    background-image: url('../img/next.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center; 
}
/* end of pagination */

/* footer */
.footer {
    width: 100%;
    /* height: 77px; */
    background: #131415;
    color: #ffffff;
}

.container--footer{
    display: flex;
    /* flex-flow: row nowrap;
    justify-content: space-between; */
    align-items: center;
    height: 100%;
    padding: 15px 0;
}

.footer__col {
    flex: 1;
    display: flex;
    align-items: center;
}

.footer__col p{
    margin: 0px;
    max-width:240px;
    font-weight: 300;
    font-size: 14px;
}
  

/* .production__text{
    margin: 0px;
    max-width:240px;
    font-weight: 300;
    font-size: 14px;
} */
  
 .production__link {
    font-weight: bold;
    /* text-decoration: inherit;
    color:inherit; */
  }
  
 .production__link--underlined {
    text-decoration: underline;
  }
  
.footer__col--right {
    justify-content: flex-end;
    flex-wrap: wrap;
}
/* end of footer */



/* reviews2 elements */

/* apply-text */

.apply-text {
    width:100%;
    margin-top: 0px;
    background: url(../img/background_repeat.png) repeat; /* Параметры фона */
    padding: 22px 0;
}

.apply-text__paragraph {
    width: 80%;
    font-family: 'roboto';
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    margin: auto;
   
   
}
.apply-text__wait {
    font-weight: 700;
    color: #f89513;
}
/* end of apply-text */


/* breadcrumbs */

.breadcrumbs {
    margin: 41px 0 0 0;
}

ul.breadcrumbs__list{
    display: flex;
    min-width: 125px;
    align-items: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding-inline-start: 0px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
   
}

li.breadcumbs__item{
    font-family: inherit;
    font-size: 14px;
    font-weight: light;
    font-style: italic;
    color: #e98c13;
}

a.breadcrumbs__link:active, /* активная/посещенная ссылка */
a.breadcrumbs__link:hover,  /* при наведении */
a.breadcrumbs__link {
  text-decoration: underline;
  color:inherit;
}

li.breadcumbs__item--separator, 
li.breadcumbs__item--active {
    color: #4d4d4d;   
    font-weight: bold; 
    margin-left: 5px;
}
/* end of breadcrumbs */


/* reviews */

ul.reviews__list {
    /* display: flex; */
    width: 100%;
    /* flex-flow: column;
    justify-content: center; */

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
}

li.reviews__item:not(:last-child) {
    padding-bottom: 7px;
    border-bottom: 2px solid #f5f5f5;
  }

li.reviews__item {
    display: flex;
    padding-bottom: 0;
    align-content: space-around;
    min-height: 190px;
  }

  li.reviews__item:not(:first-child) {
    padding-top: 25px;
  }

.reviews__image-pic {
    border-radius: 50%;
    width: 167px;
    height: 167px;
}

.reviews__image-pic--no {
    background: #f5f5f5;
    background-image: url('../img/avatar.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.reviews__description {
    /* display: inline-block; */
    width: 84%;
    margin-left: 26px;
    font-family: "roboto", Helvetica, sans-serif;
    font-weight: 400;
  }

  .reviews__date {
    font-size: 14px;
    color: #656464;
    font-weight: 300;
  }

  .reviews__heading {
    font-size: 18px;
    color: #221f1f;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 10px;
    line-height: 21px;
    letter-spacing: 0.07em;
  }
  
.reviews__text {
    font-size: 18px;
    color: #221f1f;
    font-style: normal;
    line-height: 30px;
    margin-top: 0px;
  }
/* end of reviews */

/* review-form */

form.review-form {
    background: #f5f5f5;
    /* background: grey; */
    width: 701px;
    height:430px;
    margin: 60px 0;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 300;
}
.title--form {
    margin: 52px 0 0 69px;
    padding-top:37px;
    letter-spacing: 0em;
}

.identification {
    width: 560px;
    display: flex;
    justify-content: space-between;
    margin: 21px auto 15px auto;
}
.name, .vk {
    width:48%;
}


#your-name, #your-vk {
    min-width: 260px;
    min-height: 40px;
    border-radius: 2px;
    
    padding-left:   10px;
    border:1px solid #ccc;
    outline: none;   
    padding-bottom: 3px;
    margin-top: 9px;

}


/* .your-name, .your-vk {
    width: 260px;
    height: 45px;
    border-radius: 2px;
    padding-left:   10px;
    border:1px solid #ccc;
    outline: none;
} */


.review-create {
    width: 560px;
    margin: 0 auto;
}

/* label.id-label {
    margin-top: 16px;
    margin-bottom: 5px;
} */
#your-review {
    width: 550px;
    height: 86px;
    border-radius: 2px;
    font-size: 14px;
    border:1px solid #ccc;
    outline: none;
    padding-left: 8px;
    padding-top:2px;
    margin-top: 7px;

}

#your-name:focus, #your-vk:focus, #your-review:focus {
    /* border-width: 1px; */
    border-color: #f89513;
    /* border: 1px solid #f89513 ; */
    /* outline:: 1px #f89513; */
} 

.radio-and-submit {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 560px;
    margin: 11px auto 0px auto;
}

.form__label-box{
    margin-bottom: 6px;
    
}

.form__radio {

	display: none;

}


.form__radio-text {
	font-size: 14px;
	color: #221f1f;
	vertical-align: super;
	position: absolute;
	top: 0px;
    left: 25px;
   
    
} 

 .form__radio-custom {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #cacaca;
	position: relative;
    margin-right: 35px;
    
}

.form__radio:checked + .form__radio-custom:before {
	content: "";
	display: block;

	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
    outline: none;
	border-radius: 50%;
	background-color: #f89513;

}



.form__radio:checked + .form__radio-custom {
	border: 2px solid #f89513;


}

.form__radio:checked + .form__radio-custom .form__radio-text {
	display: inline-block;
	color: #f89513;


}

.submit {
    width: 125px;
    height: 45px;
    border-radius: 2px;
    background: #131415;
    color:  #f0f0f0;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1em;
    border: none;
    margin-top: 5px;
}
.submit:hover {
    background: #f89513;
}
/* end of review-form */

/* end of reviews2 elements */


/* services2 elements */

/* partners */
.partners {
    
    width: 97.8%;
    border: 1px solid black;
 
  }

ul.partners__list {
    
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 42px;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 0px;
    /* margin-left: 154px; */
  }
  
  li.partners__item {
    /* flex: 1 0 250px; */
    min-width: 100%;
    margin-bottom: 50px;
    /* margin-right: 13%; */
  }
  
  .partners__link {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
  }
  
  .partners__link:hover {
    filter: none;
  }

/* end of partners */

/* services */
  
ul.services__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0px;
    margin-bottom: 10px;
    }
  
  li.services__item {
    max-width:  250px;
    margin-bottom: 72px;
  }
  
  .services__img {
    /* display: flex; */
    width: 250px;
    height: 153px;
    margin-bottom: 24px;
    position: relative;
    cursor: pointer;
  }
  
  .services__img-pic {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: 50% 50%;
    /* background: center center no-repeat; */
    /* margin: 0 auto; */
    filter: brightness(40%);
    border-radius: 3px;
    transition: .5s;
  }

  .services__img-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 43%;
    left: 13%;
    
    min-width: 70%;
    transition: .5s;
  }
  
  .services__img:hover .services__img-heading {
    opacity: 0;
  }
  
  .services__img:hover .services__img-pic {
    filter: none;
  }
  
  .services__content {
    color: #221f1f;
    max-width: 100%;
  }
  
  .services__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    list-style: none;
  }
  
  .services__desc {
    
    margin: 0px 0px 0px 0px;   
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;

  }
/* end of services */


/* end of services2 elements */