/* main-image */
.main-image{
    margin-left: 30px;
    /* margin-right: auto; */
    /* margin-top: 79px;
    margin-bottom: 58px; */
    width: 740px;
    height: 486px;
    background-image: url(../../img/Image.png);
}
/* end of main-image */