/* top-news */
    
.top-news {
    /* display: inline-block; */
    width: 100%;
    vertical-align: top;
    margin: 58px auto 0px auto;
    text-align: center;
  }
.top-news__heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #221f1f;
    line-height: 21px;
    letter-spacing: 2.4px;
  }

.top-news__month {
    display: block;
    color: #656464;
  }

/* ul.sidebar__list {

  } */

.top-news__image-pic {
    width: 170px;
    opacity: .8;
    margin-top: 20px;
    object-fit: cover;
    object-position: 50% 50%;
  }

/* end of top-news */